<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre o jogo</title>
</head>
<body>
    <h1>Vigilantes da Floresta</h1>
    <img src="../game.png" alt="game_queimada" width="1036" height="585">
    <p>Os incêndios florestais cresceram de forma vertiginosa no Brasil durante o ano 2020 em
    quase todos os biomas, de acordo com informações do Instituto Nacional de Pesquisas
    Especiais (Inpe). Por exemplo, entre janeiro e agosto, foram registrados 44013 focos de
    queimadas na Amazônia e no Pantanal.</p>

    <p>Diante desse cenário alarmante, o primeiro trabalho prático da disciplina de Programação
    Web será a implementação do jogo Vigilantes da Floresta através da linguagem
    JavaScript. É um simples jogo em que o jogador vigia uma determinada reserva florestal
    contra incêndios e outros males.</p>
</body>
</html>